[user]
	email = xnng77@gmail.com
	name = xnng
[http]
	proxy = socks5://127.0.0.1:1080
[https]
	proxy = socks5://127.0.0.1:1080
[core]
	quotepath = false
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true